[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
